button{
  margin-top: 10px;
}

input{
  margin: auto;
}

ul{
  list-style: none;
}

img{
  display: block;
  margin: auto;
}

li{
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

.row{
  margin-top: 20px;
}

#user-condition{
  width: 250px;
}

#user-doctor{
  width: 250px;
}

#show-doctors{
  margin: auto;
}

#map{
  height: 300px;
  width: 50%;
}
